<section class="about-us">
  <div class="about-us-container">
    <div class="about-us-spacing">
      <h1 class="about-us-container-heading">O nas</h1>
      <p class="about-us-container-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
        recusandae nemo dolore soluta est, voluptatem suscipit laudantium magnam
        facere tempore.
      </p>
    </div>
    <div class="about-us-spacing">
      <h2 class="about-us-container-second-heading">
        Stawiamy na doznania i wyjątkowe podróże
      </h2>
      <p class="about-us-container-second-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis at,
        ab molestiae reprehenderit dolores molestias!
      </p>
    </div>
    <button class="about-us-button">Przeczytaj więcej</button>
  </div>
</section>
