.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  &-title {
    font-size: 72px;
    font-weight: 300;
    &-number {
      transition: 0.5s all ease-in;
      font-size: 100px;
      font-weight: 700;
    }
  }
  &-subtitle {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 75px;
    letter-spacing: 5px;
  }

  &-customers {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-items: center;
    &-single {
      width: 75%;
      height: fit-content;
      background-color: #fff;
      &-img {
        width: 100%;
      }
      &-background {
        padding-top: 30px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
      }
      &-name {
        font-size: 42px;
        letter-spacing: 5px;
        font-weight: 700;
      }
      &-text {
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 2.5px;
        text-align: justify;
        text-justify: inter-word;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
    }
  }
}
@media (max-width: 500px) {
  .testimonials-title {
    text-align: center;
    width: 100%;
    line-height: 1;
    margin-bottom: 30px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 64px;
  }

  .testimonials-subtitle {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .testimonials-customers {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
  }
  .testimonials-customers-single-text {
    font-size: 20px;
  }
}

@media (min-width: 501px) and (max-width: 640px) {
  .testimonials-title {
    text-align: center;
    width: 100%;
    line-height: 0.95;
    margin-bottom: 30px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .testimonials-subtitle {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .testimonials-customers {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .testimonials-title {
    text-align: center;
    width: 100%;
    line-height: 0.95;
    margin-bottom: 30px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .testimonials-subtitle {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .testimonials-customers {
    width: 640px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
  }
}

@media (min-width: 961px) and (max-width: 1300px) {
  .testimonials-title {
    text-align: center;
    width: 100%;
    line-height: 0.95;
    margin-bottom: 30px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .testimonials-subtitle {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .testimonials-customers {
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-columns: auto auto;
    grid-template-rows: 50% 50%;
    row-gap: 20px;
  }

  .testimonials-customers-single:first-child {
    width: 90%;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: flex-end;
  }

  .testimonials-customers-single:nth-child(2) {
    width: 90%;
    grid-column-start: 5;
    grid-column-end: 8;
    justify-self: flex-start;
  }

  .testimonials-customers-single:last-child {
    width: 90%;
    grid-column-start: 3;
    grid-column-end: 6;
  }
}

@media (min-width: 1921px) {
  .testimonials-title {
    font-size: 82px;
  }

  .testimonials-subtitle {
    font-size: 60px;
  }

  .testimonials-customers-single-name {
    font-size: 50px;
  }

  .testimonials-customers-single-text {
    font-size: 40px;
  }
}
