<h1 class="hot-deals-single-title">
  <span class="material-symbols-outlined icon"> arrow_downward </span>
  Sprawdź teraz!
  <span class="material-symbols-outlined icon"> arrow_downward </span>
</h1>
<div class="hot-deals-single">
  <div class="hot-deals-single-element" *ngFor="let el of deal">
    <a routerLink="/oferty/{{ el.id }}">
      <div class="hot-deals-single-img-container">
        <img class="hot-deals-single-element-img" src="{{ el.img }}" alt="" />
        <p class="hot-deals-single-element-price">{{ el.price }}</p>

        <h1 class="hot-deals-single-element-title">{{ el.title }}</h1>

          <p class="hot-deals-single-element-description">
            {{ el.description }}
          </p>

      </div>
    </a>
  </div>
</div>
