.offers-content {
  width: 80%;
  display: grid;
  grid-template-columns: 20% 60%;
  justify-content: center;
  margin: auto auto;
  padding-top: 50px;
  padding-bottom: 50px;
  column-gap: 50px;
  align-items: start;
  &-form-container {
    &-title {
      font-weight: 300;
      font-size: 36px;
    }
    &-form {
      &-type {
        display: grid;
        grid-template-columns: auto;
        row-gap: 10px;
        &-radio {
          display: flex;
          column-gap: 5px;
          align-items: center;
        }
      }
      &-price {
        display: grid;
        grid-template-columns: auto;
        row-gap: 10px;
        &-input {
          padding: 4px 30px 4px 8px;
          width: 100%;
          font-size: 18px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          &::placeholder {
          }
          &-cur {
            position: absolute;
            right: 10%;
            top: 50%;
            transform: translate(-10%, -50%);
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
              sans-serif;
          }
        }
      }
      &-stay {
        display: grid;
        row-gap: 10px;
        &-input {
          padding: 4px 90px 4px 8px;
          width: 100%;
          font-size: 18px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          &-days {
            position: absolute;
            top: 50%;
            right: 4%;
            transform: translate(-4%, -50%);
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
              sans-serif;
            opacity: 0.9;
          }
        }
      }
      &-countries {
        display: grid;
        row-gap: 10px;
        &-select {
          overflow: auto;
          width: 100%;
          padding: 4px 8px;
          font-size: 18px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          text-align: center;
          margin-bottom: 30px;
          &-option {
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
              sans-serif;
          }
        }
      }
      &-deadline {
        display: grid;
        row-gap: 10px;
        &-select {
          overflow: auto;
          width: 100%;
          padding: 4px 8px;
          font-size: 18px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          text-align: center;
          margin-bottom: 30px;
          &-option {
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
              sans-serif;
          }
        }
      }
    }
  }
  &-list {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 15px;
    list-style: none;
    &-p {
      font-size: 24px;
      margin-bottom: 20px;
    }
    &-li {
      text-decoration: none;
      display: grid;
      grid-template-columns: 33.33% 38.33% 28.33%;
      height: 300px;
      border-radius: 20px;
      border: 1px solid coral;
      overflow: hidden;
      &-img-container {
        position: relative;
        &-img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &-titles {
        padding: 30px;
        &-country {
          font-size: 28px;
        }
        &-town {
          font-size: 40px;
          margin-bottom: 20px;
        }
        &-stay {
          display: flex;
          text-align: center;
          align-items: center;
          font-size: 22px;
          column-gap: 5px;
          margin-bottom: 10px;
        }
      }
      &-score-container {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        border-left: 1px solid coral;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        &-rating {
          border-radius: 10px;
          padding: 10px 25px;
          background-color: #000;
          display: flex;
          align-items: center;
          column-gap: 15px;
        }
        &-p {
          width: fit-content;
          padding: 4px 10px;
          background-color: coral;
          color: #fff;
          font-size: 28px;
          border-radius: 5px;
        }
      }
      &-price {
        font-size: 26px;
        &-s {
          font-size: 40px;
        }
      }
    }
  }
}

.no-offers-message {
  font-size: 32px;
  font-weight: 300;
}

.icon-thumb {
  color: #fff;
}

hr {
  margin-bottom: 30px;
}

.margin-b {
  margin-bottom: 20px;
}

.form-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.price-container {
  position: relative;
}

.price-inputs-spacing {
  display: flex;
  margin-bottom: 30px;
}

.icon {
  text-align: center;
}

.stay-container {
  position: relative;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  &-submit {
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s all;
    border: 2px solid #000;
    letter-spacing: 2px;
    color: #000;
    &:hover {
      letter-spacing: 4px;
      background-color: #000;
      color: #fff;
    }
  }
}

@media (max-width: 1000px) {
  // form
  .offers-content {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    grid-template-columns: auto;
  }
  .offers-content-form-container {
    margin-left: 16px;
    margin-right: 16px;
  }
  .offers-content-form-container-form {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
  }
  .button-container-submit {
    margin-bottom: 30px;
  }
  // list
  .offers-content-list-li-img-container-img {
    height: 100%;
  }
  .offers-content-list-li {
    height: 200px;
  }
  .offers-content-list-li-titles {
    padding: 10px;
  }
  .offers-content-list-li-titles-country {
    font-size: 20px;
  }
  .offers-content-list-li-titles-town {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .offers-content-list-li-titles-stay {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .offers-content-list-li-score-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
  }
  .offers-content-list-li-score-container-rating {
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: inherit;
  }
  .hide {
    display: none;
  }
  .offers-content-list-li-price {
    font-size: 18px;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
  }
  .offers-content-list-li-price-s {
    font-size: 28px;
  }
}

@media (min-width: 1001px) and (max-width: 1400px) {
  // form
  .offers-content {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .offers-content-form-container {
    margin-left: 16px;
    margin-right: 16px;
  }
  .offers-content-form-container-form {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
  }
  .button-container-submit {
    margin-bottom: 30px;
  }
  // list
  .offers-content-list-li-img-container-img {
    width: 100%;
    height: auto;
  }
  .offers-content-list {
    width: 70%;
    grid-template-columns: auto;
  }
}

@media (min-width: 1921px) {
  // list
  .offers-content-list-li-img-container-img {
    width: 100%;
    height: auto;
  }
  .offers-content-list-li {
    height: 400px;
  }
  .offers-content-list-li-titles-country {
    font-size: 44px;
  }
  .offers-content-list-li-titles-town {
    font-size: 56px;
  }
  .offers-content-list-li-titles-stay {
    font-size: 38px;
  }
  .offers-content-list-li-score-container-rating {
    padding: 20px 45px;
    display: flex;
    justify-content: center;
  }
  .offers-content-list-li-price {
    font-size: 42px;
  }
  .offers-content-list-li-price-s {
    font-size: 56px;
  }
  .title-icons {
    font-size: 36px;
  }
  .no-offers-message {
    font-size: 48px;
  }
  .icon-thumb {
    font-size: 44px;
  }
  .offers-content-list-li-score-container-p {
    padding: 5px 12.5px;
    font-size: 44px;
  }
  .offers-content-list-p {
    font-size: 40px;
  }
  .offers-content-form-container-title {
    font-size: 52px;
  }
  .form-title {
    font-size: 36px;
  }
  label {
    font-size: 32px;
  }
  .radio-btn {
    transform: scale(1.5);
  }
  .offers-content-form-container-form-type-radio {
    column-gap: 20px;
  }
  .offers-content-form-container-form-price-input {
    padding: 4px 50px 4px 8px;
    font-size: 34px;
  }
  .offers-content-form-container-form-price-input-cur {
    font-size: 34px;
  }
  .offers-content-form-container-form-stay-input {
    padding: 4px 170px 4px 8px;
    font-size: 34px;
  }
  .offers-content-form-container-form-stay-input-days {
    font-size: 34px;
  }
  .offers-content-form-container-form-countries-select {
    font-size: 34px;
  }
  .offers-content-form-container-form-countries-select-option {
    font-size: 20px;
  }
  .offers-content-form-container-form-deadline-select {
    font-size: 34px;
  }
  .offers-content-form-container-form-deadline-select-option {
    font-size: 20px;
  }
  .button-container {
  }
  .button-container-submit {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    font-size: 34px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
