.about-us-hero {
  &-background {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../../../../assets/img/about-us/landscape.jpg);
    background-position: center;
    background-size: cover;
    &-title {
      font-weight: 300;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 72px;
    }
  }
}

@media (min-width: 1921px) {
  .about-us-hero-background {
    height: 600px;
  }
  
  .about-us-hero-background-title {
    font-size: 108px;
  }
}
